/* * {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
} */

.wcontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.wgrid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.wgrid-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.wgrid-item h2 {
  margin-top: 0;
}

.wgrid-item ul {
  margin: 0;
  padding: 0;
}

.wgrid-item li {
  list-style: none;
  margin-bottom: 5px;
}

.wgrid-item li span:first-child {
  font-weight: bold;
}

.weekForm {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.weekForm label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.weekForm input,
.weekForm select {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.weekForm button[type="submit"] {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.weekForm button[type="submit"]:hover {
  background-color: #3e8e41;
}

@media screen and (max-width: 600px) {
  .wgrid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
